# POLARS

In [1]:
import polars as pl

In [2]:
dir(pl)

['ArrowError',
 'Binary',
 'Boolean',
 'Categorical',
 'ColumnNotFoundError',
 'ComputeError',
 'Config',
 'DATETIME_DTYPES',
 'DURATION_DTYPES',
 'DataFrame',
 'DataType',
 'Date',
 'Datetime',
 'Decimal',
 'DuplicateError',
 'Duration',
 'Expr',
 'FLOAT_DTYPES',
 'Field',
 'Float32',
 'Float64',
 'INTEGER_DTYPES',
 'Int16',
 'Int32',
 'Int64',
 'Int8',
 'InvalidOperationError',
 'LazyFrame',
 'List',
 'NUMERIC_DTYPES',
 'NoDataError',
 'Null',
 'Object',
 'PanicException',
 'PolarsDataType',
 'SQLContext',
 'SchemaError',
 'SchemaFieldNotFoundError',
 'Series',
 'ShapeError',
 'StringCache',
 'Struct',
 'StructFieldNotFoundError',
 'TEMPORAL_DTYPES',
 'Time',
 'UInt16',
 'UInt32',
 'UInt64',
 'UInt8',
 'Unknown',
 'Utf8',
 '__all__',
 '__annotations__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'align_frames',
 'all',
 'any',
 'api',
 'apply',
 'arange',
 'arg_sort_by',
 'arg_where',
 'argsort_by',
 'avg',
 'build_info',
 'coalesce',
 'col',
 'collect_all',
 'concat',
 'concat_list',
 'concat_str',
 'config',
 'convert',
 'corr',
 'count',
 'cov',
 'cumfold',
 'cumreduce',
 'cumsum',
 'cut',
 'dataframe',
 'datatypes',
 'date',
 'date_range',
 'datetime',
 'dependencies',
 'duration',
 'element',
 'exceptions',
 'exclude',
 'expr',
 'first',
 'fold',
 'format',
 'from_arrow',
 'from_dataframe',
 'from_dict',
 'from_dicts',
 'from_epoch',
 'from_numpy',
 'from_pandas',
 'from_records',
 'from_repr',
 'functions',
 'get_dummies',
 'get_idx_type',
 'get_index_type',
 'groups',
 'head',
 'internals',
 'io',
 'last',
 'lazyframe',
 'list',
 'lit',
 'map',
 'max',
 'mean',
 'median',
 'min',
 'n_unique',
 'ones',
 'os',
 'pearson_corr',
 'polars',
 'quantile',
 'read_avro',
 'read_csv',
 'read_csv_batched',
 'read_database',
 'read_delta',
 'read_excel',
 'read_ipc',
 'read_ipc_schema',
 'read_json',
 'read_ndjson',
 'read_parquet',
 'read_parquet_schema',
 'read_sql',
 'reduce',
 'repeat',
 'scan_csv',
 'scan_delta',
 'scan_ds',
 'scan_ipc',
 'scan_ndjson',
 'scan_parquet',
 'scan_pyarrow_dataset',
 'select',
 'series',
 'show_versions',
 'slice',
 'spearman_rank_corr',
 'sql',
 'std',
 'string_cache',
 'struct',
 'sum',
 'tail',
 'threadpool_size',
 'toggle_string_cache',
 'type_aliases',
 'using_string_cache',
 'utils',
 'var',
 'when',
 'wrap_df',
 'wrap_s',
 'zeros']

In [3]:
data = pl.read_csv('./Salary_dataset.csv')

In [4]:
data.dtypes

[Int64, Float64, Float64]

In [5]:
type(data)

polars.dataframe.frame.DataFrame

In [6]:
print(data.head())

shape: (5, 3)
┌─────┬─────────────────┬─────────┐
│     ┆ YearsExperience ┆ Salary  │
│ --- ┆ ---             ┆ ---     │
│ i64 ┆ f64             ┆ f64     │
╞═════╪═════════════════╪═════════╡
│ 0   ┆ 1.2             ┆ 39344.0 │
│ 1   ┆ 1.4             ┆ 46206.0 │
│ 2   ┆ 1.6             ┆ 37732.0 │
│ 3   ┆ 2.1             ┆ 43526.0 │
│ 4   ┆ 2.3             ┆ 39892.0 │
└─────┴─────────────────┴─────────┘

In [7]:
data.dtypes

[Int64, Float64, Float64]

In [8]:
data.columns

['', 'YearsExperience', 'Salary']

#### Methods or attributes on the dataframe

In [9]:
dir(data)

['__add__',
 '__annotations__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '_accessors',
 '_cast_all_from_to',
 '_comp',
 '_compare_to_non_df',
 '_compare_to_other_df',
 '_df',
 '_div',
 '_from_arrow',
 '_from_dict',
 '_from_dicts',
 '_from_numpy',
 '_from_pandas',
 '_from_pydf',
 '_from_records',
 '_ipython_key_completions_',
 '_pos_idx',
 '_pos_idxs',
 '_read_avro',
 '_read_csv',
 '_read_ipc',
 '_read_json',
 '_read_ndjson',
 '_read_parquet',
 '_repr_html_',
 'apply',
 'clear',
 'clone',
 'columns',
 'corr',
 'describe',
 'drop',
 'drop_in_place',
 'drop_nulls',
 'dtypes',
 'estimated_size',
 'explode',
 'extend',
 'fill_nan',
 'fill_null',
 'filter',
 'find_idx_by_name',
 'fold',
 'frame_equal',
 'get_column',
 'get_columns',
 'glimpse',
 'groupby',
 'groupby_dynamic',
 'groupby_rolling',
 'hash_rows',
 'head',
 'height',
 'hstack',
 'insert_at_idx',
 'interpolate',
 'is_duplicated',
 'is_empty',
 'is_unique',
 'item',
 'iter_rows',
 'iter_slices',
 'join',
 'join_asof',
 'lazy',
 'limit',
 'max',
 'mean',
 'median',
 'melt',
 'merge_sorted',
 'min',
 'n_chunks',
 'n_unique',
 'null_count',
 'partition_by',
 'pipe',
 'pivot',
 'product',
 'quantile',
 'rechunk',
 'rename',
 'replace',
 'replace_at_idx',
 'reverse',
 'row',
 'rows',
 'sample',
 'schema',
 'select',
 'shape',
 'shift',
 'shift_and_fill',
 'shrink_to_fit',
 'slice',
 'sort',
 'std',
 'sum',
 'tail',
 'take_every',
 'to_arrow',
 'to_dict',
 'to_dicts',
 'to_dummies',
 'to_init_repr',
 'to_numpy',
 'to_pandas',
 'to_series',
 'to_struct',
 'top_k',
 'transpose',
 'unique',
 'unnest',
 'unstack',
 'update',
 'upsample',
 'var',
 'vstack',
 'width',
 'with_columns',
 'with_row_count',
 'write_avro',
 'write_csv',
 'write_database',
 'write_excel',
 'write_ipc',
 'write_json',
 'write_ndjson',
 'write_parquet']

#### Some functions wont work like pandas, so we need to use to_pandas method to use them

In [10]:
data.to_pandas().describe()

                  YearsExperience         Salary
count  30.000000        30.000000      30.000000
mean   14.500000         5.413333   76004.000000
std     8.803408         2.837888   27414.429785
min     0.000000         1.200000   37732.000000
25%     7.250000         3.300000   56721.750000
50%    14.500000         4.800000   65238.000000
75%    21.750000         7.800000  100545.750000
max    29.000000        10.600000  122392.000000

### Selection

#### Select by column names

In [11]:
data.columns

['', 'YearsExperience', 'Salary']

In [12]:
data['']

shape: (30,)
Series: '' [i64]
[
	0
	1
	2
	3
	4
	5
	6
	7
	8
	9
	10
	11
	…
	17
	18
	19
	20
	21
	22
	23
	24
	25
	26
	27
	28
	29
]

#### Select columns by index

In [13]:
data[1]

shape: (1, 3)
┌─────┬─────────────────┬─────────┐
│     ┆ YearsExperience ┆ Salary  │
│ --- ┆ ---             ┆ ---     │
│ i64 ┆ f64             ┆ f64     │
╞═════╪═════════════════╪═════════╡
│ 1   ┆ 1.4             ┆ 46206.0 │
└─────┴─────────────────┴─────────┘

PyPolars Python Tutorial (Data Analysis with PyPolars & Pandas)